.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7px 14px !important;
  padding-right: 32px !important;
  min-width: 150px !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}
div.tokenform {
  width: 100% !important;
  display: flex;
  justify-content: center;
}
div.tokenform > .css-rqahul-MuiInputBase-root-MuiOutlinedInput-root {
  width: 80% !important;
  display: flex;
  justify-content: center;
}

.css-1wvjsdj-MuiInputBase-root-MuiOutlinedInput-root:hover {
  border: 1px solid #663dbd;
}