nav#nav-bar {
  width: 100vw;
  position: absolute;
  margin-top: 1rem;
  background-color: transparent; 
  color: #663dbd;
}
  
div.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20%;
}
  
  @media (max-width: 1100px) {
    div.nav-bar {
      margin: 0 5%;
    }
  }
  @media (max-width: 730px) {
    div.nav-bar {
      margin: 0;
    }
  }