#root {
  text-align: center;
}

#cambiar-contrato{
  margin-top: 30px;
}

/* Navbar */
nav#navbar {
  width: 100%;
  max-height: 80px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:99;
  background:white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

div.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20%;
}

@media (max-width: 1100px) {
  div.nav-bar {
    margin: 0 5%;
  }
}
@media (max-width: 730px) {
  div.nav-bar {
    margin: 0;
  }
}